footer {
    margin: 0;
    background-color: whitesmoke;
    -webkit-box-shadow: 0px 0px 30px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 30px -11px rgba(0,0,0,0.75);
box-shadow: 0px 0px 30px -11px rgba(0,0,0,0.75);
}

.footer-link {
    color: #197bd8
}

.footer-link:hover{
    color: #1363ad
}

.footer-icon{
    color: #197bd8;
    font-size: 1.8rem
}
