mat-progress-bar {
    position: fixed;
    top: 10vh;
    z-index: 2
}

/* .sidenav-container {
    height: 90vh;
    overflow-y: scroll
} */

.sidenav {
    width: 220px;
    background-color: whitesmoke
}

.side-bar {
    background-color: whitesmoke;
    border-right: 0.5px solid lightgrey;
    z-index: 2;
}

.active-side-nav, .active-side-nav:hover {
    background: rgb(192, 218, 252);
}

.active-side-nav mat-icon {
    color: royalblue
}

data-table {
    z-index: 1
}

mat-icon {
    cursor: pointer;
}

mat-sidenav-content {
    height: 90vh;
    overflow-y: scroll
}

.display-4 {
    font-size: 2rem
}

.display-4.title {
    font-weight: 400
}

.header-row{
    background: #fff;
    z-index: 1;
    background: whitesmoke  
}

/* .header-row > div:first-child {
    flex-grow: 1;
    background: red
} */

.header-row input {
    width: 100%;
    border: none;
    padding: 0.2rem 0.5rem;
    border-radius: 8px;
}

.header-row input:focus {
    outline: none
}

.header-row input::placeholder {
    color: rgb(184, 182, 182)
}

.header-row mat-select {
    background-color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 8px;
}

.header-row mat-select::before {
    content: "Filter by reporter";
    position: absolute;
    top: -1rem;
    text-transform: uppercase;
    font-size: x-small;
    font-weight: 600;
    color: rgb(172, 171, 171);
    letter-spacing: 0.5px
}

.issue-count {
    background: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-right: 1rem;
    cursor: default
}

.issue-count b {
    font-weight: 500;
    width: 15px;
    text-align: center
}

.issue-count .filters small {
    display: inline-flex;
    justify-content: space-around
}

.issue-count .filters small:hover {
   cursor: pointer;
   color: rgb(21, 55, 247)
}

mat-nav-list{
    display: flex;
    flex-direction: column;
    height: 90%;
    font-weight: 300;
    color: rgb(70, 70, 70)
}

.spacer {
    flex-grow: 1
}

mat-nav-list mat-icon{
    color: grey;
    padding-right: 2rem;
    transform: scale(0.9)
}

mat-nav-list a {
    font-size: 0.85rem;
}

.project-select mat-select {
    background-color: #fff;
    padding: 0.8rem 0.5rem;
    border-radius: 10px
}

.project-select p {
    text-transform: uppercase;
    font-size: x-small;
    font-weight: 600;
    letter-spacing: 0.5px
}

.no-issues * {
    cursor: default
}

.no-issues mat-icon {
    font-size: 2rem;
    background: royalblue;
    color: #fff;
    border-radius: 50%;
    padding: 2rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.notification-card {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 2;
    background-color: royalblue;
    color: #fff;
    max-width: 30vw;
    word-wrap: normal
}

.notification-card mat-card-subtitle {
    color: lightgray
}

.notification-card button {
    font-size: 0.8rem;
    transition: all 0.3s ease
}

.notification-card button:hover {
    background-color: #fff;
    color: royalblue
}