mat-progress-bar {
    position: fixed;
    top: 10vh;
    z-index: 2
}

/* .sidenav-container {
    height: 90vh;
    overflow-y: scroll
} */

.sidenav {
    width: 220px;
    background-color: whitesmoke
}

.side-bar {
    background-color: whitesmoke;
    z-index: 2;
}

data-table {
    z-index: 1
}

mat-icon {
    cursor: pointer;
}

mat-sidenav-content {
    height: 90vh;
    overflow-y: scroll
}

.display-4 {
    font-size: 2rem
}

.display-4.title {
    font-weight: 400
}

.header-row{
    background: #fff;
    z-index: 1;
    background: whitesmoke  
}

.issue-count {
    background: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    margin-right: 1rem;
    cursor: default
}

.issue-count b {
    font-weight: 500;
    width: 15px;
    text-align: center
}

.issue-count .filters small {
    display: inline-flex;
    justify-content: space-around
}

.issue-count .filters small:hover {
   cursor: pointer;
   color: rgb(21, 55, 247)
}

mat-nav-list{
    display: flex;
    flex-direction: column;
    height: 90%;
    font-weight: 300;
    color: rgb(70, 70, 70)
}

.spacer {
    flex-grow: 1
}

mat-nav-list mat-icon{
    color: grey;
    padding-right: 2rem;
    transform: scale(0.9)
}

mat-nav-list a {
    font-size: 0.85rem;
}