<mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></mat-progress-bar>
<div class="container-fluid p-0">
    <div class="row no-gutters">
        <div class="col-auto side-bar d-none d-sm-flex" *ngIf="!isDrawerOpened">
            <mat-nav-list>
                <a mat-list-item (click)="drawer.toggle();isDrawerOpened=true">
                    <mat-icon>menu</mat-icon>
                </a>
                <a mat-list-item matTooltip="Assigned Issues" [ngClass]="{'active-side-nav':activeCategory.assigned}"
                    (click)="makeActive('assigned')">
                    <mat-icon>assignment</mat-icon>
                </a>
                <a mat-list-item matTooltip="Reported Issues" [ngClass]="{'active-side-nav':activeCategory.reported}"
                    (click)="makeActive('reported')">
                    <mat-icon>assignment_ind</mat-icon>
                </a>
                <a mat-list-item matTooltip="Watching" [ngClass]="{'active-side-nav':activeCategory.watching}" (click)="makeActive('watching')">
                    <mat-icon>remove_red_eye</mat-icon>
                </a>
                <a mat-list-item matTooltip="Report new issue" [routerLink]="['/issue/browse','new']">
                    <mat-icon>bug_report</mat-icon>
                </a>
            </mat-nav-list>
        </div>
        <div class="col">
            <mat-sidenav-container class="sidenav-container">
                <mat-sidenav #drawer class="sidenav" fixedInViewport="false" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" (closedStart)="isDrawerOpened=false"
                    (openedStart)="isDrawerOpened=true">
                    <mat-icon class="pt-2 px-3" (click)="drawer.toggle();isDrawerOpened=false">menu</mat-icon>
                    <mat-nav-list>
                        <a mat-list-item [ngClass]="{'active-side-nav':activeCategory.assigned}" (click)="makeActive('assigned')">
                            <mat-icon>assignment</mat-icon>Assigned Issues
                        </a>
                        <a mat-list-item [ngClass]="{'active-side-nav':activeCategory.reported}" (click)="makeActive('reported')">
                            <mat-icon>assignment_ind</mat-icon>Reported Issues
                        </a>
                        <a mat-list-item [ngClass]="{'active-side-nav':activeCategory.watching}" (click)="makeActive('watching')">
                            <mat-icon>remove_red_eye</mat-icon>Watching
                        </a>
                        <a mat-list-item (click)="reportNewIssue()">
                            <mat-icon>bug_report</mat-icon>Report new issue
                        </a>
                        <span class="spacer"></span>
                        <a class="project-select p-3" *ngIf="allprojects">
                            <p class="mb-0 ml-1 mb-2">Project</p>
                            <mat-select [(ngModel)]="activeProject" (ngModelChange)="changeProject()">
                                <mat-option *ngFor="let project of allprojects" [value]="project.projectId">
                                    {{project.title}}
                                </mat-option>
                                <mat-option [routerLink]="['/project','new']">
                                    <mat-icon>add</mat-icon>Create new project
                                </mat-option>
                            </mat-select>
                        </a>
                        <a class="row no-gutters justify-content-center" *ngIf="allprojects">
                            <button mat-stroked-button [routerLink]="['/project',activeProject]">Manage project</button>
                        </a>
                        <a class="row no-gutters justify-content-center" *ngIf="!allprojects">
                            <button mat-stroked-button [routerLink]="['/project','new']">Create project</button>
                        </a>
                    </mat-nav-list>

                </mat-sidenav>
                <mat-sidenav-content>
                    <div class="container-fluid">
                        <div class="row py-2 py-md-3 py-lg-4 header-row sticky-top align-items-center">
                            <div class="col">
                                <div class="row">
                                    <div class="col-12 display-4 title mb-2">
                                        <button mat-icon-button class="d-sm-none" (click)="drawer.open()">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <span *ngIf="activeCategory.assigned">Assigned Issues</span>
                                        <span *ngIf="activeCategory.reported">Reported Issues</span>
                                        <span *ngIf="activeCategory.watching">Issues watching</span>
                                        <button mat-icon-button (click)="showMobileFilters=true" class="ml-auto d-lg-none">
                                            <mat-icon>filter_list</mat-icon>
                                        </button>
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <input (keyup)="filterIssues($event.target.value)" placeholder="Filter by title, status or date">
                                    </div>
                                    <div class="col">
                                        <mat-select [(ngModel)]="selectedReporter" (ngModelChange)="filterReporter(selectedReporter)"
                                            disableOptionCentering="true">
                                            <mat-option *ngFor="let reporter of allReporters" [value]="reporter">
                                                {{reporter | userName | async}}
                                            </mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                            </div>
                            <div class="d-none d-lg-block col-lg-auto issue-count ml-auto" *ngIf="issues">
                                <div class="row">
                                    <div class="col-md-3 col-lg-auto" (click)="resetIssues()">
                                        <div class="row">
                                            <div class="col-12 display-4 text-center">{{allIssues.length}}</div>
                                            <small class="col-12 text-center">Issues</small>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row filters">
                                            <div class="col-auto">
                                                <small (click)="filterIssues('InProgress')"><b>{{issuesStatusCount.inProgress}}</b>
                                                    In progress</small><br>
                                                <small (click)="filterIssues('todo')"><b>{{issuesStatusCount.toDo}}</b>
                                                    To Do</small>
                                            </div>
                                            <div class="col-auto">
                                                <small (click)="filterIssues('done')"><b>{{issuesStatusCount.done}}</b>
                                                    Done</small><br>
                                                <small (click)="filterIssues('backlog')"><b>{{issuesStatusCount.backlog}}</b>
                                                    Backlog</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="issues">
                            <data-table [issues]="issues" class="full-width"></data-table>
                        </div>
                        <div class="row mt-5 pt-5 text-center text-muted no-issues" *ngIf="!issues">
                            <div class="col-12 mt-5">
                                <mat-icon>done_all</mat-icon>
                            </div>
                            <div class="col-12 mt-2">No issues</div>
                        </div>
                    </div>
                    <!-- end conatiner -->
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
    </div>
</div>


<!-- notification -->
<mat-card *ngIf="notification.display" class="notification-card">
    <mat-card-header>
        <mat-card-title *ngIf="notification.event==='comment'">{{notification.editor|userName|async}} commented on
            {{notification.issueId | issueTitle | async}}</mat-card-title>
        <mat-card-title *ngIf="notification.event!=='comment'">{{notification.editor|userName|async}} edited
            {{notification.issueId | issueTitle | async}}</mat-card-title>
        <mat-card-subtitle>{{notification.time | date}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p class="px-3" *ngIf="notification.event==='comment'" [innerHTML]="notification.data"></p>
    </mat-card-content>
    <mat-card-actions class="px-3">
        <button mat-button [routerLink]="['/issue/browse',notification.issueId]">VIEW</button>
        <button mat-button (click)="notification.display=false">DISMISS</button>
    </mat-card-actions>
</mat-card>


<!-- mobile filter menu -->
<div class="mobile-filter" *ngIf="showMobileFilters">
    <div class="backdrop" (click)="showMobileFilters=false"></div>
    <div class="container">
        <span class="heading-sm">Filter by status</span>
        <div class="issue-count my-3" *ngIf="issues">
            <div class="row">
                <div class="col-auto" (click)="resetIssues()">
                    <div class="row">
                        <div class="col-12 display-4 text-center">{{allIssues.length}}</div>
                        <small class="col-12 text-center">Issues</small>
                    </div>
                </div>
                <div class="col">
                    <div class="row filters">
                        <div class="col-auto">
                            <small (click)="filterIssues('InProgress')"><b>{{issuesStatusCount.inProgress}}</b>
                                In progress</small><br>
                            <small (click)="filterIssues('todo')"><b>{{issuesStatusCount.toDo}}</b>
                                To Do</small>
                        </div>
                        <div class="col-auto">
                            <small (click)="filterIssues('done')"><b>{{issuesStatusCount.done}}</b>
                                Done</small><br>
                            <small (click)="filterIssues('backlog')"><b>{{issuesStatusCount.backlog}}</b>
                                Backlog</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <span class="heading-sm">Filter by reporter</span>
        <mat-list>
            <mat-list-item matRipple *ngFor="let reporter of allReporters" (click)="filterReporter(reporter)">
                <span matListAvatar>{{reporter | userName:'initials' | async}}</span>
                <h3 matLine> {{reporter | userName | async}} </h3>
            </mat-list-item>
        </mat-list>

    </div>
</div>