<mat-progress-bar mode="indeterminate" color="warn" *ngIf="loading"></mat-progress-bar>
<div class="container" *ngIf="newIssue">
  <div class="row py-5">
    <div class="col-auto">
      <span class="heading-2">Create issue</span>
    </div>
  </div>
  <div class="row pb-5 align-items-center">
    <div class="col-12 col-md-8 col-lg-6 create-issue-input">
      <input type="text" #issueTitle placeholder="What needs to be done?" (keyup.enter)="createIssue(issueTitle.value)">
      <button class="my-3" mat-flat-button color="primary" (click)="createIssue(issueTitle.value)">Create</button>
    </div>
  </div>
</div>

<div class="container-fluid main-container" *ngIf="issue">
  <div class="row py-5">

    <div class="col-8">
      <div class="row">

        <!-- issue title -->
        <div class="col-12">
          <span class="heading-2">{{issue.title}}</span>
        </div>

        <!-- issue options -->
        <div class="col-12 my-2 issue-options">
          <mat-icon class="mr-4" matTooltip="Add attachment" matRipple (click)="addAttachment=true">attachment</mat-icon>
          <mat-icon class="mr-4" matTooltip="Link issue" matRipple>link</mat-icon>
          <mat-icon class="mr-4" *ngIf="!issue.isFlagged" matTooltip="Add flag" matRipple (click)="editIssue({isFlagged:true})">outlined_flag</mat-icon>
          <mat-icon class="mr-4" *ngIf="issue.isFlagged" matTooltip="Remove flag" style="color:red" matRipple (click)="editIssue({isFlagged:false})">flag</mat-icon>
          <mat-icon matTooltip="Options" matRipple [matMenuTriggerFor]="menu">more_horiz</mat-icon>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteIssue()">
              <mat-icon>delete</mat-icon>
              <span>Delete issue</span>
            </button>
          </mat-menu>
        </div>

        <!-- file upload -->
        <div class="col-12 mt-2 mb-4" *ngIf="addAttachment">
          <file-upload class="mb-2" [(ngModel)]="uploadedFiles" name="files" [control]="fileUploadControl"
            [style.background]="fileUploadControl.invalid? 'lavenderblush':''"></file-upload>
          <button class="mx-2" mat-flat-button color="primary" (click)="uploadAttachment()">Upload</button>
          <button class="mx-2" mat-stroked-button color="primary" *ngIf="uploadedFiles.length>0" (click)="clearAttachments()">Reset</button>
          <button class="mx-2" mat-stroked-button color="primary" (click)="addAttachment=false;clearAttachments()">Cancel</button>
        </div>

        <!-- issue description -->
        <div class="col-12 my-2">
          <div *ngIf="issue.description&&!addDescription" [innerHTML]="issue.description | sanitizedHTML" (click)="addDescription=true;description=issue.description"></div>
          <div class="row">
            <span class="text-muted col py-1 col-hover" *ngIf="!issue.description&&!addDescription" (click)="addDescription=true">Add
              a description..</span>
          </div>
          <angular-editor *ngIf="addDescription" [(ngModel)]="description" [config]="config"></angular-editor>
          <button *ngIf="addDescription" class="mt-2 mr-2" mat-flat-button color="primary" (click)="addDescription=false;editIssue({description:description})">Save</button>
          <button *ngIf="addDescription" mat-stroked-button color="primary" (click)="addDescription=false">Cancel</button>
        </div>

        <!-- linked issues -->
        <div class="col-12 my-2" *ngIf="issue.linkedIssues.length>0">
          <div class="heading-3">Linked issues</div>
        </div>

        <!-- issue activity -->
        <div class="col-12 my-4">
          <div class="heading-3 mb-2">Activity</div>

          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Comments">
              <div class="container">
                <div class="row my-3 justify-content-end">
                  <small class="col-auto text-muted">{{issue.comments.length}} Comments </small>
                  <small class="col-auto sort-col text-muted">
                    <mat-icon>sort</mat-icon>Sort by<span>Newest first</span><span>Oldest first</span>
                  </small>
                </div>
                <div class="row my-4" *ngFor="let comment of issue.comments">
                  <div class="col-1 user-circle">
                    <span>{{comment.createdBy | userName: 'initials' | async | uppercase}}</span>
                  </div>
                  <div class="col-11">
                    <div class="row">
                      <div class="col-auto comment-body">
                        <b>{{comment.createdBy | userName | async}}</b>
                        <p *ngIf="!comment.editComment" [innerHTML]="comment.body | sanitizedHTML"></p>
                      </div>
                      <div class="col-12" *ngIf="comment.editComment">
                        <angular-editor [(ngModel)]="comment.body" [config]="config"></angular-editor>
                        <button class="mt-2 mr-2" mat-flat-button color="primary" (click)="editComment(comment._id,comment.body);comment.editComment=false">Save</button>
                        <button mat-stroked-button color="primary" (click)="comment.editComment=false">Cancel</button>
                      </div>
                      <div class="col-12">
                        <small class="text-muted">{{comment.createdOn | date:'medium'}}</small>
                        <small *ngIf="!comment.editComment&&userDetails.userId == comment.createdBy" class="text-muted px-3 small-link"
                          (click)="comment.editComment=true">Edit</small>
                        <small *ngIf="!comment.editComment&&userDetails.userId == comment.createdBy" class="text-muted small-link delete-link"
                          (click)="deleteComment(comment._id)">Delete</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row pt-4">
                  <div class="col-12">
                    <angular-editor [(ngModel)]="comment" [config]="config"></angular-editor>
                  </div>
                  <div class="col-12 mt-2">
                    <button mat-flat-button color="primary" class="mr-2" (click)="createComment()">Comment</button>
                  </div>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="History">
              <div class="container">
                <div class="row">
                  <div class="col text-center text-muted mt-4">No history</div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>

        </div>
        <!-- end issue activity -->

      </div>
    </div>

    <!-- side col -->
    <div class="col-4">
      <div class="row side-col">

        <!-- issue status -->
        <div class="col-12">
          <div class="row align-items-start justify-content-between">
            <div class="col-8 p-0">
              <span class="col-12 heading-sm">Status</span>
              <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                <mat-select [(ngModel)]="issue.status" (ngModelChange)="editIssue({status:issue.status})"
                  disableOptionCentering="true">
                  <mat-option value="backlog">Backlog</mat-option>
                  <mat-option value="toDo">To Do</mat-option>
                  <mat-option value="inProgress">In Progress</mat-option>
                  <mat-option value="done">Done</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="col-auto p-0">
              <div class="watchers-btn" (click)="viewWatchers=true">
                <span class="pr-2" *ngIf="issue.watchers.length>0">{{issue.watchers.length}}</span>
                <mat-icon [style.color]="issue.watchers.includes(userDetails.userId)?'royalblue':'grey'">remove_red_eye</mat-icon>
              </div>
              <div class="watchers-container" *ngIf="viewWatchers">
                <mat-list>
                  <mat-icon (click)="viewWatchers=false">close</mat-icon>
                  <mat-list-item>
                    <mat-slide-toggle matLine color="primary" [checked]="issue.watchers.includes(userDetails.userId)"
                      labelPosition="before" (change)="toggleWatching($event.checked)">Watching</mat-slide-toggle>
                  </mat-list-item>
                  <mat-divider></mat-divider>
                  <h3 mat-subheader *ngIf="issue.watchers.length>0">Watchers</h3>
                  <h3 mat-subheader *ngIf="issue.watchers.length<1">No watchers</h3>
                  <mat-list-item *ngFor="let watcher of issue.watchers">
                    <span matListAvatar>{{watcher | userName:'initials' | async}}</span>
                    <h3 matLine> {{watcher | userName | async}} </h3>
                  </mat-list-item>
                </mat-list>
              </div>
            </div>
          </div>
        </div>


        <!-- issue assignee -->
        <span class="col-12 heading-sm mt-4">Assignee</span>
        <div class="col-12" *ngIf="addAssignee">
          <div class="assignee-select-div">
            <mat-list>
              <mat-icon (click)="addAssignee=false"> close </mat-icon>
              <mat-list-item (click)="editIssue({assignee:null});addAssignee=false">
                <h3 matLine> Unassigned </h3>
              </mat-list-item>
              <mat-divider></mat-divider>
              <h3 mat-subheader>Project Team</h3>
              <mat-list-item *ngFor="let member of projectTeam" (click)="editIssue({assignee:member});addAssignee=false">
                <span matListAvatar>AR</span>
                <h3 matLine> {{member | userName | async}} </h3>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div *ngIf="!issue.assignee" (click)="addAssignee=true" class="col-12 text-muted py col-hover">Unassigned</div>
        <div *ngIf="issue.assignee" (click)="addAssignee=true" class="col-12 text-muted py col-hover">{{issue.assignee
          | userName | async}}</div>

        <!-- issue labels -->
        <span class="col-12 heading-sm mt-4">Labels</span>
        <div class="col-12 py col-hover">
          <mat-chip-list #chipList>
            <mat-chip class="py-1" *ngFor="let label of issue.labels" selectable="true" removable="true" (removed)="removeLabel(label)">
              {{label}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input placeholder="Add labels" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="addLabel($event)">
          </mat-chip-list>
        </div>

        <!-- issue due date -->
        <span class="col-12 heading-sm mt-4">Due Date</span>
        <div class="col-12 text-muted py col-hover" (click)="picker.open()">{{issue.dueDate | date}}<span *ngIf="!issue.dueDate">None</span></div>
        <mat-form-field class="d-none">
          <input matInput [matDatepicker]="picker" [(ngModel)]="issue.dueDate" (ngModelChange)="editIssue({dueDate:issue.dueDate})"
            placeholder="None">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>

        <!-- issue reporter -->
        <span class="col-12 heading-sm mt-4">Reporter</span>
        <div class="col-12 text-muted py">{{issue.reporter | userName | async}}</div>

        <!-- issue timestamps -->
        <small class="col-12 mt-4 text-muted">Created {{issue.createdOn| date}}</small>
        <small class="col-12 mt-2 text-muted">Updated {{issue.lastModified | date}}</small>

      </div>
    </div>
    <!-- end  side col -->

  </div>
  <!-- end main row -->

</div>
<!-- end container -->