<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [ngClass]="{'d-none': !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="logo">Issue tracker</span>
      <span class="spacer"></span>
      <div class="search-issue-input" *ngIf="url.includes('dashboard')||url.includes('browse')">
        <input type="text" #issueSearch placeholder="Search issue">
        <mat-icon [routerLink]="['issue/search',issueSearch.value]">search</mat-icon>
      </div>
      <button *ngIf="!(isHandset$ | async)&&url.includes('issue')" mat-button [routerLink]="['dashboard']">Dashboard</button>
      <button *ngIf="!(isHandset$ | async)&&url.includes('home')" mat-button [routerLink]="['login']">Login</button>
      <button *ngIf="!(isHandset$ | async)&&url.includes('login')" mat-button [routerLink]="['home']">Signup</button>
      <button *ngIf="!(isHandset$ | async)&&!url.includes('home')&&!url.includes('login')" mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
